
:root {
  // Colors
  --clr-background-400: hsl(0 0% 100%);
  --clr-background-300: hsl(0 0% 75%);
  --clr-background-200: hsl(0 0% 50%);
  --clr-background-100: hsl(0 0% 25%);
  --clr-foreground: hsl(0 0% 0%);
  --clr-primary-400: hsl(200 100% 40%);
  --clr-primary-300: hsl(200 100% 60%);
  --border: 1px solid var(--clr-foreground);

  // Box-Model
  --button-padding: 0.5rem 1rem;
  --button-padding-sm: 0.25rem .5rem;
  --button-margin: 0 revert;

  --navbar-padding: .5rem 4rem;
  --navbar-margin: 0;
  --navbar-tab-width: 100px, 1fr;

  // Utilities
  --material-shadow: 3px 3px 10px var(--clr-background-300);
}